h1, h2, h3, h4, h5, h6, p, li, blockquote {
  font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}
.wy-nav-side {
  background: #212121;
}
.wy-nav-content {
  color: #212121;
}
.wy-nav-content a,
.wy-nav-content a:visited {
  color: #B90C30;
}
.wy-side-nav-search {
  background-color: #B90C30;
}
.wy-side-nav-search>div.version {
  color: #f1f1f1;
}
p {
    line-height: 28px;
    margin: 0;
    font-size: 20px;
    margin-bottom: 28px;
}
